<div class="col-md-4">
    <nav id="sidebar-width" class="bs-docs-sidebar hidden-xs hidden-sm ukti-resources" data-spy="affix"
         data-offset-top="500">
        <div class="col-md-11 ukti-quick-guide-side">
            <h2>The UK investment guide</h2>
            <ol>
                <li><a href="/de/anleitung-zu-Investments/establish-a-UK-address">Establish a UK address</a></li>
                <li><a href="/de/anleitung-zu-Investments/visumsanträge">Visumsanträge</a></li>
                <li><a href="/de/anleitung-zu-Investments/ein-Bankkonto-Eröffnen">Ein Bankkonto Eröffnen</a></li>
                <li><a href="/de/anleitung-zu-Investments/Ein-Unternehmen-Gründen">Ein Unternehmen Gründen</a></li>
                <li><a href="/de/anleitung-zu-Investments/steuern-und-Anreize">Steuern und Anreize</a></li>
                <li><a href="/de/anleitung-zu-Investments/fakten-zum-Arbeitsmarkt">Fakten zum Arbeitsmarkt</a></li>
                <li><a href="/de/anleitung-zu-Investments/rechtliche-Rahmenbedingungen">Rechtliche Rahmenbedingungen</a></li>
                <li><a href="#">Speak to the UKTI Investment Services Team</a></li>
            </ol>
        </div>
    </nav>
</div>
