<div class="col-md-4">
    <nav id="sidebar-width" class="bs-docs-sidebar hidden-xs hidden-sm ukti-resources" data-spy="affix"
         data-offset-top="500">
        <div class="col-md-11 ukti-quick-guide-side">
            <h2>The UK investment guide</h2>
            <ol>
                <li><a href="/us/investment-guide/establish-a-UK-address">Establish a UK address</a></li>
                <li><a href="/us/investment-guide/apply-for-a-visa">Apply for a visa</a></li>
                <li><a href="/us/investment-guide/open-a-UK-bank-account">Open a UK bank account</a></li>
                <li><a href="/us/investment-guide/register-your-company">Register your company</a></li>
                <li><a href="/us/investment-guide/work-out-your-profit-margins-against-UK-tax">Work out your profit margins against UK tax</a></li>
                <li><a href="/us/investment-guide/understand-UK-employment-law">Understand UK employment law</a></li>
                <li><a href="/us/investment-guide/familiarise-yourself-with-the-legal-framework">Familiarise yourself with the legal framework</a></li>
                <li><a href="#">Speak to the UKTI Investment Services Team</a></li>
            </ol>
        </div>
    </nav>
</div>