//_affix.scss

.affix {
  top: 8px;

  .dfit-quick-guide-side {
    position: static;
  }
}

.affix-top {
  .dfit-quick-guide-side {
    position: absolute;
  }
}

.affix-bottom {
  position: absolute;
}
