//_main-nav-list.scss

.ukti-main-nav-list {
  > li {
    display: inline-block;
    padding: 12px 25px;
    border-right: 1px solid #999;
    height: 80px;
    &:first-of-type {
      border-left: 1px solid #999;
    }
    &.active {
      background-color: #E7E7E7;
    }
  }

  @media (max-width: $screen-xs-max) {
    > li {
      padding: 2px 0 !important;
      display: block;
      border: 0;
      height: auto;

      &:first-of-type {
        border-left: 0;
      }
    }
  }

  @media (max-width: $screen-sm-max) {
    > li {
      padding: 12px 0;
    }
  }
}