//why-uk-list.scss

.ukti-why-uk-list {
	counter-reset: ukti-why-uk-list-counter;
	list-style: none;
    padding: 0;
    // margin: 0 -15px;
    width: 100%;
    overflow: hidden;

    @media (max-width: $screen-xs-max) {
		margin: 0;
		padding: 15px;
	}

	&__item {
		position: relative;
		width: 50%;
		padding: 15px 100px 30px 60px;
		float: left;

		@media (max-width: $screen-xs-max) {
			width: 100%;
		}

		@media (max-width: $screen-sm-max) {
			padding: 15px 30px 30px 60px;
		}
		

		&::before {
			position: absolute;
			top: -9px;
			left: 10px;
			font-size: 60px;
			content: counter(ukti-why-uk-list-counter);
			counter-increment: ukti-why-uk-list-counter;
			width: 50px;
			display: inline-block;

			@media (max-width: $screen-xs-max) {
				top: -6px;
			}
		}

		&:nth-of-type(2n+1) {
			clear: left;
		}
	}
}
