//toc.scss

.ukti-toc {
  background: #363636;
  color: #fff;

  &__heading {
    margin-bottom: 16px;
  }

  &__list {
    //
  }

  &__list-item {
    margin-bottom: 12px;
    display: inline-block;
    position: relative;
    padding: 0 30px 0 24px;
    list-style: decimal;

    &:before {
      content: "";
      display: none;
    }

    a {
      color: #fff;
      border-bottom: 1px solid #777;

      &:hover {
        text-decoration: none;
        color: #639aca;
        border-bottom: 1px solid #639aca;
      }
    }
  }
}