<div class="container">
    <ol class="breadcrumb">
        <li>
            <a href="/">Home</a>
        </li>
        {{#if location}}
        {{#each location}}
        {{#unless @last}}
        <li>
            <a class="text-sentence" href="{{this.link}}">{{this.name}}</a>
        </li>
        {{/unless}}
        <!--last one is not hyperlinked-->
        {{#if @last}}
        <li>
            <span class="text-sentence">{{this.name}}</span>
        </li>
        {{/if}}
        {{/each}}
        {{/if}}
    </ol>
</div>
