<nav class="container ukti-footer">
    <div class="row">
        <div class="col-md-6 col-md-offset-1">
            <ul class="ukti-footer--list">
                <li><a href="#">Why the UK?</a></li>
                <li><a href="#">Sectors</a></li>
                <li><a href="#">Help and advice</a></li>
                <li><a href="#">Privacy and cookies</a></li>
                <li><a href="#">Terms and conditions</a></li>
                <li><a href="#">Contact us</a></li>
            </ul>
        </div>
        <div class="col-md-2 col-md-offset-1 ukti-footer--logo">
            <img class="img-responsive" src="http://ukti-iigb-alpha-staging.herokuapp.com/assets/img/HM Gov logo black.png" alt="">
            <img class="img-responsive" src="http://ukti-iigb-alpha-staging.herokuapp.com/assets/img/iigb-logo.png" alt="">
        </div>
    </div>
</nav>


</div>
<script>
    $(document).ready(function () {
        enhance();
        setTimeout(showcontent, 1000);
        setTimeout(removeloading, 2000);
    });

    function showcontent(){
    	$('.ukti-outer-wrap').show();
        calculateSidebarWidth();
    }

    function removeloading(){
        $('.ukti-loading').fadeOut(300);
    }

    function enhance(){
    	enhance_videobg();
    }

    function enhance_videobg(){
        if($('#bgVid').length > 0 || $('#bgImg').length > 0) {
            $('.jumbotron').addClass('bg--transparent');
        }
    }

    //calculate fixed sidebar width
    function calculateSidebarWidth () {
        if ($('#sidebar-width')) {
            var menuWidth = $('#sidebar-width').width();
            $('#sidebar').css({width: menuWidth});
        }
    }

    $(window).on('resize', function () {
        calculateSidebarWidth ();
    });
</script>
</body>
</html>