</div>
<script>
    $(document).ready(function () {

        enhance();
        setTimeout(showcontent, 1000);
        setTimeout(removeloading, 2000);

    });

    function showcontent(){
    	$('.ukti-outer-wrap').show();    
    }

    function removeloading(){
        $('.ukti-loading').fadeOut(300);
        // $('.ukti-loading').animate({ opacity: 0 }, 'slow');
    }

    function enhance(){
    	enhance_videobg();
    }


    function enhance_videobg(){
        //
        if($('#bgVid').length > 0 || $('#bgImg').length > 0) {
            $('.jumbotron').addClass('bg--transparent');
        }
    }

</script>
</body>
</html>