<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
	<title>UKTI - {{title}}</title>
	<base href="http://ukti-iigb-alpha-staging.herokuapp.com/">
	<link href="assets/css/bootstrap.min.css" rel="stylesheet" type="text/css"/>
    <script src="//cdnjs.cloudflare.com/ajax/libs/jquery/2.1.3/jquery.min.js"></script>
    <script src="assets/js/bootstrap.min.js"></script>
    <script src="assets/js/equalHeight.js"></script>
</head>
<style type="text/css">

	.navbar-brand {
		height: auto;
	}
	
	.navbar-brand img {
		height: 50px;
		width: auto;
	}

	.navbar-default {
		background: #fff;
	}

	.navbar {
		margin: 0;
	}
</style>
<body>
