<div><a href="/" class="navbar-brand ukti-main-logo"><img src="http://ukti-iigb-alpha-staging.herokuapp.com/assets/img/HM Gov logo.png" alt=""></a></div>
<nav class="ukti-main-search">
    <div class="navbar-header">
        <a class="navbar-brand" href="/">
            <img alt="Brand" src="http://ukti-iigb-alpha-staging.herokuapp.com/assets/img/iigb-logo.png">
        </a>
    </div>
    <ul class="nav navbar-nav ukti-main-search__label">
        <li><a href="#">Why the UK? </a></li>
        <li class="active"><a href="#">Sectors<span class="sr-only">(current)</span></a></li>
        <li><a href="#">Help and advice </a></li>
    </ul>
    <form class="navbar-form navbar-left" role="search">
        <div class="form-group">
            <input type="text" class="ukti-main-search__input-field" placeholder="Search">
        </div>
        <button type="submit" class="ukti-main-search__submit"><span><img
                src="http://ukti-iigb-alpha-staging.herokuapp.com/assets/img/search.png" alt=""></span></button>
    </form>
    <!-- /.navbar-collapse -->
</nav>