{% if language === 'us' %}
<script>
    window.language = 'us';
</script>
{% elif language === 'de' %}
<script>
    window.language = 'de';
</script>
{% elif language === 'cn' %}
<script>
    window.language = 'cn';
</script>
{% endif %}

<script>
    $(document).ready(function () {
        enhance();
        setTimeout(showcontent, 500);
        setTimeout(removeloading, 1000);
    });

    function showcontent(){
        $('.ukti-outer-wrap').show();
        calculateSidebarWidth();
        smoothScroll();
        addActive();
    }

    function removeloading(){
        $('.ukti-loading').fadeOut(300);
    }

    function enhance(){
        enhance_videobg();
        // zoomImageHoverLink();
    }

    function enhance_videobg(){
        if($('#bgVid').length > 0 || $('#bgImg').length > 0) {
            $('.jumbotron').addClass('bg--transparent');
        }
    }

    //calculate fixed sidebar width
    function calculateSidebarWidth () {
        if ($('#sidebar-width')) {
            var menuWidth = $('#sidebar-width').width();
            $('.ukti-quick-guide-side').css({width: menuWidth});
        }
    }

    function smoothScroll() {
        //smoothscrolling and positioning
        $('a[href^="#"]').on('click', function (e) {
            // prevent default anchor click behavior
            e.preventDefault();
            // store hash
            var hash = this.hash;
            // animate
            $('html, body').stop().animate({
                scrollTop: $(hash).offset().top
            }, 600, 'swing', function () {
                window.location.hash = hash;
            });
        });
    }

    function addActive () {
        var language = window.language;
        var url = window.location.pathname;
        var child = '';
        if (language === 'us') {
            if (url.match('\/sectors\/')) {
                child = '/us/sectors/';
            } else if (url.match('\/investment-guide\/')) {
                child = '/us/investment-guide/';
            }
        } else if (language === 'de'){
            if (url.match('\/sektoren\/')) {
                child = '/de/sektoren/';
            } else if (url.match('\/investitionsführer\/')) {
                child = '/de/investitionsführer/';
            }
        } else if (language === 'cn') {
            if (url.match('\/部门\/')) {
                child = '/cn/部门/';
            } else if (url.match('\/投资指南\/')) {
                child = '/cn/投资指南/';
            }
        }
        if ($('ul.nav a')) {
            $('ul.nav a[href="' + child + '"]').parent().addClass('active');
        }
    }

    // function zoomImageHoverLink() {
    //     if ($('.ukti-sectors-list__item')) {
    //         var itemHeight = $('.ukti-sectors-list__item').height();
    //         var itemWidth = $('.ukti-sectors-list__item').width();
    //         $('.ukti-sectors-list__item').css({height: itemHeight});
    //         $('.ukti-sectors-list__item').css({width: itemWidth});
    //     }
    // }

    $(window).on('resize', function () {
        calculateSidebarWidth ();
    });
</script>
