<div class="col-md-4">
    <nav id="sidebar-width" class="bs-docs-sidebar hidden-xs hidden-sm ukti-resources" data-spy="affix"
         data-offset-top="500">
        <div class="col-md-11 ukti-quick-guide-side">
            <h2>The UK investment guide</h2>
            <ol>
                <li><a href="#">Establish a UK address</a></li>
                <li><a href="#">Apply for a visa</a></li>
                <li><a href="#">Open a UK bank account</a></li>
                <li><a href="#">Register your company</a></li>
                <li><a href="#">Work out your profit margins against UK tax</a></li>
                <li><a href="#">Understand UK employment law</a></li>
                <li><a href="#">Familiarise yourself with the legal framework</a></li>
                <li><a href="#">Speak to the UKTI Investment Services Team</a></li>
            </ol>
        </div>
    </nav>
</div>