{% include "partials/header.html" %}
{% include "partials/header-nav.html" %}
<div class="jumbotron">
    <div class="container" style="background-color: transparent">
        <div class="row">
            <div class="col-sm-offset-2 col-sm-8">
                <h1>{{pageTitle}}</h1>
                <p class="text-center">{{intro}}</p>
            </div>
        </div>
    </div>
</div>
<section class="dit-toc">
    {% include "partials/breadcrumb.html" %}
</section>
<br>
<div class="container">
    <div class="row">
        <div class="col-md-12">
            <div class="row">
                <ol class="dit-big-list">
                    {% for elem in subLevel %}
                    <li class="dit-big-list__item--home-guide">
                        <h3><a href="/{{elem.uri}}">{{elem.name|unslug}}</a></h3>
                        {{intro}} <br>
                    </li>
                    {% endfor %}
                </ol>
            </div>
        </div>
    </div>
</div>

{% include "partials/footer.html" %}