{{> header}}


<div class="jumbotron--home">
    <div class="container">
        <div class="ukti-hero__content">
            <h1><img src="../assets/img/iigb-logo-big-white.png" alt="Invest in Great Britain" class="img-responsive">
            </h1>
            <!--[if !(IE)]><!-->
            <p class="text-center"><a href="#" class="bg-video-inactive bg-video-play" data-toggle="modal"
                                      data-target="#heroVideo">Watch video <span class="glyphicon glyphicon-play-circle"
                                                                                 aria-hidden="true"></span></a></p>
            <!--<![endif]-->
            <!--[if lte IE 9]>
            <p class="text-center"><a href="#" class="bg-video-inactive bg-video-play" data-toggle="modal"
                                      data-target="#heroVideo">Watch video <span class="glyphicon glyphicon-play-circle"
                                                                                 aria-hidden="true"></span></a></p>
            <![endif]-->
            <!--[if lte IE 8]>
            <![endif]-->
            <!--<p class="text-center ukti-ie-alt"><a href="https://www.youtube.com/yoHrRcKIBKw"-->
                                                  <!--class="bg-video-inactive bg-video-play">Watch video <span-->
                    <!--class="glyphicon glyphicon-play-circle"></span></a></p>-->
        </div>
    </div>
    <nav>
        <ul class="text-center list-inline ukti-home-section-anchors">
            <li><a href="#why-uk">Reasons to choose the UK</a></li>
            <li><a href="#sectors">Key market sectors</a></li>
            <li><a href="#guide">Simple investment guide</a></li>
            <li><a href="#">Search</a></li>
        </ul>
    </nav>

    <!--[if !lte IE 8]>
    <div class="modal fade" id="heroVideo" role="dialog">
        <div class="modal-dialog video-wrapper">
            <iframe width="560" height="315" src="https://www.youtube.com/embed/yoHrRcKIBKw" frameborder="0"
                    allowfullscreen></iframe>
        </div>
    </div>
    <![endif]-->

    <!--[if lte IE 8]>
    <div class="modal " id="heroVideo" role="dialog">
        <div class="modal-dialog video-wrapper">
            <iframe width="100%" height="350" title="YouTube video player" id="yt0" role="presentation" src="https://www.youtube.com/embed/kUlL1AU_CO0?controls=0&showinfo=0&origin=https%3A%2F%2Fwww.gov.uk&rel=0&enablejsapi=1&widgetid=1" frameBorder="0" allowfullscreen="1"/>
        </div>
    </div>
    <![endif]-->

    <video autoplay loop poster="../assets/img/northern-powerhouse.jpg" class="ukti-hero__video-bg">
        <source src="../assets/vid/northern-powerhouse.mp4" type="video/mp4">
    </video>
    <!--[if lte IE 8]>
    <img class="ukti-hero__image-bg" src="../assets/img/northern-powerhouse.jpg" alt=""
         title="No video playback capabilities">
    <![endif]-->
</div>


{{{contents}}}
{{> footer}}