{{> header}}
{{> header-nav}}

<div class="jumbotron">
    <div class="container">
        <h1>Invest in Great Britain</h1>
        <p>{{intro}}<br> <a href="#" class=" bg-video-inactive bg-video-play" data-toggle="modal" data-target="#heroVideo">Watch video</a></p>

        <div class="modal fade" id="heroVideo" role="dialog">
            <div class="modal-dialog video-wrapper">
            
                <!-- Modal content-->
                <!-- <div class=""> -->
                    <!-- <div class="modal-body"> -->
                        <iframe width="560" height="315" src="https://www.youtube.com/embed/yoHrRcKIBKw" frameborder="0" allowfullscreen></iframe>
                    <!-- </div> -->
                <!-- </div> -->
              
            </div>
        </div>

        <video autoplay loop poster="../assets/img/northern-powerhouse.jpg" id="bgVid">
            <source src="../assets/vid/northern-powerhouse.mp4" type="video/mp4">
        </video>

    </div>
</div>



{{{contents}}}
{{> footer}}