{{> header}}
{{> header-nav}}
<div class="jumbotron">
    <div class="container">
        <h1>Invest in Great Britain</h1>
        {{{contents}}}
        <p><a class="btn btn-primary btn-lg" href="#" role="button">Learn more »</a></p>
    </div>
</div>
<div class="container">
    <div class="row">
        <div class="col-md-12">
            <ul>
                {{#each subLevel}}
                <li>{{this.name}} thumbnail: {{this.thumbnail}}</li>
                {{/each}}
            </ul>
        </div>
    </div>
</div>
{{> footer}}