{{> header}}
{{> header-nav}}
<style>
    .jumbotron {
        background-image: url("/assets/img/{{image}}");
        background-size: cover;
    }
</style>
<div id="top" class="jumbotron">
    <div class="container" style="background-color: transparent">
        <h1>{{pageTitle}}</h1>
        <p class="text-center">{{intro}}</p>
    </div>
</div>

<section class="ukti-toc">
    {{> breadcrumb}}
    <div class="container">
        <div class="row">
            <div class="col-md-8">
                <h2 class="ukti-toc__heading">On this page</h2>
                <ol class="ukti-toc__list">
                    {{#each toc}}
                    <li class="ukti-toc__list-item"><a href="#{{this}}">{{this}}</a></li>
                    {{/each}}
                    <li class="ukti-toc__list-item"><a href="#sub-sectors">{{unslug folder}} sub sectors</a>
                    </li>
                </ol>
            </div>
            {{> sidebar}}
        </div>
    </div>
</section>
<div class="ukti-main-content">
    <div class="container">
        <div class="row">
            <div class="col-md-7 col-sm-10">
                {{{contents}}}
            </div>
        </div>
    </div>
    <div class="ukti-sector-subsectors">
        <div class="container">
            <div class="row">
                <div class="col-md-12">
                    <h2 id="sub-sectors">{{unslug folder}} sub sectors:</h2>
                    <ul class="ukti-key-sectors-list">
                        {{#each subLevel}}
                        <li class="ukti-key-sectors-list__item">
                            <div class="ukti-key-sectors-list__link-wrap">
                                <a href="/{{this.uri}}">
                                    <img src="/assets/img/{{this.thumbnail}}"
                                         class="ukti-key-sectors-list__image">
                                    <span class="ukti-key-sectors-list__text">{{unslug this.name}}</span>
                                </a>
                            </div>
                        </li>
                        {{/each}}
                    </ul>
                </div>
            </div>
        </div>
    </div>
</div>
{{> footer}}