{{> header}}
{{> header-nav}}
<div class="jumbotron">
    <div class="container" style="background-color: transparent">
        <h1>{{pageTitle}}</h1>
        <p class="text-center">{{intro}}</p>
    </div>
</div>
<section class="ukti-toc">
    {{> breadcrumb}}
</section>
<section class="ukti-content-section">
    <div class="container" id="sectors">
        <div class="row">
            <div class="col-md-12">
                <ul class="ukti-key-sectors-list">
                    {{#each subLevel}}
                    <li class="ukti-key-sectors-list__item">
                        <div class="ukti-key-sectors-list__link-wrap">
                            <!--[if !IE]>
                            <a href="/{{this.uri}}">
                            <![endif]-->
                            <!--[if lte IE 8]>
                            <a href="/{{this.name}}">
                            <![endif]-->
                                <img src="/assets/img/{{this.thumbnail}}" class="ukti-key-sectors-list__image">
                                <span class="ukti-key-sectors-list__text text-sentence">{{this.name}}</span>
                            </a>
                        </div>
                        <div class="ukti-key-sectors-list__link-wrap">
                            <p>{{this.intro}}</p>
                        </div>
                    </li>
                    {{/each}}
                </ul>
            </div>
        </div>
    </div>
</section>
<!--<div class="container">-->
<!--<div class="row">-->
<!--<div class="col-md-8">-->
<!--{{{contents}}}-->
<!--</div>-->
<!--</div>-->
<!--</div>-->
{{> footer}}