{% include "partials/header.html" %}
{% include "partials/header-nav.html" %}
<div class="jumbotron">
    <div class="container" style="background-color: transparent">
        <div class="container" style=" height: 48px; margin: 16px auto 0; padding: 0; background-color: transparent;">
            <img src="../../assets/img/hmg-logo.png" alt="HMG Logo" style="height: 100%;">
        </div>
        <div class="row">
            <div class="col-sm-offset-2 col-sm-8">
                <h1>{{pageTitle}}</h1>
                <p class="text-center">{{intro}}</p>
            </div>
        </div>
    </div>
</div>
<section class="dfit-toc">
    {% include "partials/breadcrumb.html" %}
</section>
<section class="dfit-content-section">
    <div class="container" id="sectors">
        <div class="row">
            <div class="col-md-12">
                <ul class="dfit-key-sectors-list">
                    {% for elem in subLevel %}
                    <li class="dfit-key-sectors-list__item">
                        <div class="dfit-key-sectors-list__link-wrap">
                            <a href="/{{elem.uri}}">
                                <img src="/assets/img/{{elem.thumbnail}}" class="dfit-key-sectors-list__image">
                                <span class="dfit-key-sectors-list__text text-sentence">{{elem.name}}</span>
                            </a>
                        </div>
                        <!--<div class="dfit-key-sectors-list__link-wrap">-->
                            <!--<p>{{elem.intro}}</p>-->
                        <!--</div>-->
                    </li>
                    {% endfor %}
                </ul>
            </div>
        </div>
    </div>
</section>
{% include "partials/footer.html" %}