{{> header}}
{{> header-nav}}
<style>
    body {
        background-color: #F3F3F3;
        font-size: 16px;
    }

    .container {
        background-color: #FFFFFF;
    }

    .ukti-img-responsive {
        width: 100%;
        height: auto;
        float: left;
    }

    .ukti-img-thumbnail {
        width: auto;
        height: 240px;
        float: left;
    }

    .ukti-toc {
        background-color: #E3E3E3;
    }

    .ukti-resources {
        background-color: #F2F2F2;
        border: 3px solid #797979;
        padding: 16px 30px;
        border-radius: 10px;
        margin-top: 10px;
        margin-bottom: 20px;
    }

    .ukti-imageholder {
        position: relative;
    }

    .ukti-caption {
        /*position: absolute;*/
        /*bottom: 80px;*/
        /*left: 40px;*/
        /*right: 40px;*/
        /*background-color: #FFFFFF;*/
        color: #FFFFFF;
        padding: 10px 20px;
    }

    .jumbotron {
        background-image: url("http://ukti-iigb-alpha-staging.herokuapp.com/assets/img/{{image}}");
        background-size: cover;
    }

    .affix {
        position: fixed;
        top: 0;
    }
    .affix-top {
        position: static;
    }
    .affix-bottom {
        position: absolute;
    }
</style>
<div class="jumbotron ukti-imageholder">
    <div class="container" style="background: rgba(255,255,255,0)">
        <div style="background-color: rgba(255,255,255,0);height: 200px;">
        </div>
        <div class="ukti-caption">
            <h1>{{pageTitle}}</h1>
            <p>{{intro}}</p>
            <p><a class="btn btn-primary btn-lg" href="#" role="button">Learn more »</a></p>
        </div>
    </div>
</div>
<div class="container ukti-toc">
    <div class="row">
        <div class="col-md-8">
            <h2>On this page</h2>
            <div class="row">
                <ol class="ukti-toc">
                    {{#each toc}}
                    <li><a href="#{{slug this}}">{{this}}</a></li>
                    {{/each}}
                </ol>
            </div>
        </div>
        <div class="col-md-4">
            <div class="row">
                <div class="col-md-11">
                    <nav id="sidebar-width" class="bs-docs-sidebar hidden-xs hidden-sm ukti-resources" data-spy="affix" data-offset-top="750" data-offset-bottom="300">
                        <ul id="sidebar" class="nav bs-docs-sidenav">
                            <li><h2>Resources <span class="glyphicon glyphicon-search" aria-hidden="true"></span></h2></li>
                            <li>Getting a visa</li>
                            <li>Setting up a bank account</li>
                            <li>Business registration</li>
                            <li>Finding premises</li>
                            <li>Creative hubs outside London</li>
                        </ul>
                    </nav>
                    <nav class="hidden-md hidden-lg ukti-resources">
                        <ul class="nav">
                            <li><h2>Resources</h2></li>
                            <li>Getting a visa</li>
                            <li>Setting up a bank account</li>
                            <li>Business registration</li>
                            <li>Finding premises</li>
                            <li>Creative hubs outside London</li>
                        </ul>
                    </nav>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="container">
    <div class="row">
        <div class="col-md-8">
            {{{contents}}}
        </div>
    </div>
</div>
{{> footer}}
