{{> header}}
{{> header-nav}}
<style>
    body {
        background-color: #F3F3F3;
        font-size: 16px;
    }

    .container {
        background-color: #FFFFFF;
    }

    .ukti-toc {
        background-color: #E3E3E3;
    }

    .ukti-resources {
        background-color: #F2F2F2;
        border: 3px solid #797979;
        border-radius: 10px;
        margin-top: 20px;
        margin-bottom: 20px;
    }

    .ukti-imageholder{
        position: relative;
    }

    .ukti-caption{
        position: absolute;
        bottom: 80px;
        left: 40px;
        right: 40px;
        background: rgba(255,255,255,0.95);
        color: #000;
        padding: 10px 20px;
    }
</style>
<!--<div class="jumbotron">-->
<div class="container ukti-imageholder">
    <img src="http://ukti-iigb-alpha-staging.herokuapp.com/assets/img/creative.jpg" alt="" class="ukti-img-responsive margin-bottom--1">
    <div class="ukti-caption">
        <h1>{{pageTitle}}</h1>
        <p>{{intro}}</p>
        <p><a class="btn btn-primary btn-lg" href="#" role="button">了解更多 »</a></p>
    </div>
    <p>视频：{{fullVideo}}</p>
</div>
<!--</div>-->
<div class="container ukti-toc">
    <div class="row">
        <div class="col-md-8">
            <h2>在这个页面</h2>
            <div class="row">
                <ol class="ukti-toc">
                    {{#each toc}}
                    <li><a href="#{{slug this}}">{{this}}</a></li>
                    {{/each}}
                </ol>
            </div>
        </div>
        <div class="col-md-4">
            <div class="row">
                <div class="col-md-11 ukti-resources">
                    <h2>资源</h2>
                    <p>获得签证</p>
                    <p>建立一个银行账户</p>
                    <p>商业注册</p>
                    <p>查找房产</p>
                    <p>伦敦以外创意中心</p>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="container">
    <div class="row">
        <div class="col-md-8">
            {{{contents}}}
        </div>
    </div>
</div>
{{> footer}}
