{% include "partials/header.html" %}
{% include "partials/header-nav.html" %}
<style>
    .jumbotron {
        background-image: url("/assets/img/{{heroImage}}");
        background-size: cover;
    }
</style>
<div id="top" class="jumbotron">
    <div class="container" style="background-color: transparent">
        <div class="row">
            <div class="col-sm-offset-2 col-sm-8">
                <h1>{{pageTitle}}</h1>
                <p class="text-center">{{intro}}</p>
            </div>
        </div>
    </div>
</div>

<section class="dfit-toc">
    {% include "partials/breadcrumb.html" %}
    <div class="container">
        <div class="row">
            <div class="col-md-8">
                {% if language === 'us' %}
                <h2 class="dfit-toc__heading">On this page</h2>
                {% elif language === 'de' %}
                <h2 class="dfit-toc__heading">Auf dieser Seite</h2>
                {% elif language === 'cn' %}
                <h2 class="dfit-toc__heading">本页包括</h2>
                {% endif %}
                <ol class="dfit-toc__list">
                    {% if language === 'cn' %}
                    {% for elem in toc %}
                    <li class="dfit-toc__list-item"><a href="#{{elem}}">{{elem}}</a></li>
                    {% endfor %}
                    {% else %}
                    {% for elem in toc %}
                    <li class="dfit-toc__list-item"><a href="#{{elem|slug}}">{{elem}}</a></li>
                    {% endfor %}
                    {% endif %}
                    </li>
                </ol>
            </div>
            {% include "partials/sidebar.html" %}
        </div>
    </div>
</section>
<div class="dfit-main-content">
    <div class="container">
        <div class="row">
            <div class="col-md-7 col-sm-10">
                {{contents|safe}}

                <p class="dfit-updated-on">Page updated on {{now()|date('jS \o\f F Y')}}</p>
            </div>
        </div>
    </div>
</div>
{% include "partials/footer.html" %}
