{{> header}}
<style>
    body {
        background-color: #F3F3F3;
        font-size: 16px;
    }

    /*.container {*/
        /*background-color: #FFFFFF;*/
    /*}*/

    .ukti-img-responsive {
        width: 100%;
        height: auto;
        float: left;
    }

    .ukti-img-thumbnail {
        width: auto;
        height: 240px;
        float: left;
    }

    .ukti-toc {
        background-color: #E3E3E3;
    }

    .ukti-resources {
        background-color: #F2F2F2;
        border: 3px solid #797979;
        border-radius: 10px;
        margin-top: 20px;
        margin-bottom: 20px;
    }

    .ukti-imageholder {
        position: relative;
    }

    .ukti-caption {
        /*position: absolute;*/
        /*bottom: 80px;*/
        /*left: 40px;*/
        /*right: 40px;*/
        background: rgba(255, 255, 255, 0.95);
        color: #000;
        padding: 10px 20px;
    }
    .jumbotron {
        background-image: url("http://ukti-iigb-alpha-staging.herokuapp.com/assets/img/{{image}}");
        background-size: cover;
    }
</style>
<div class="jumbotron ukti-imageholder">
    <div class="container ">
        <!--<img src="http://ukti-iigb-alpha-staging.herokuapp.com/assets/img/{{image}}" alt=""-->
             <!--class="ukti-img-responsive margin-bottom&#45;&#45;1">-->
        {{> header-nav}}
        <div style="background-color: rgba(255,255,255,0);height: 200px;">
            <!-- -ms-filter:"progid:DXImageTransform.Microsoft.Alpha(Opacity=0)"-->
        </div>
        <div class="ukti-caption">
            <h1>{{pageTitle}}</h1>
            <p>{{intro}}</p>
            <p><a class="btn btn-primary btn-lg" href="#" role="button">Learn more »</a></p>
        </div>
    </div>
</div>
<div class="container ukti-toc">
    <div class="row">
        <div class="col-md-8">
            <h2>On this page</h2>
            <div class="row">
                <ol class="ukti-toc">
                    {{#each toc}}
                    <li><a href="#{{slug this}}">{{this}}</a></li>
                    {{/each}}
                </ol>
            </div>
        </div>
        <div class="col-md-4">
            <div class="row">
                <div class="col-md-11 ukti-resources">
                    <h2>Resources</h2>
                    <p>Getting a visa</p>
                    <p>Setting up a bank account</p>
                    <p>Business registration</p>
                    <p>Finding premises</p>
                    <p>Creative hubs outside London</p>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="container">
    <div class="row">
        <div class="col-md-8">
            {{{contents}}}
        </div>
    </div>
</div>
{{> footer}}
